<%= provide(:title, "About") %>
<%= render 'layouts/frontpagebanner' %>
<div class="content">
	<div class="container">
		<h1>What is Achievements?</h1>
		<p>An achievement is NOTHING YET FGT</p>
	</div>
</div>
