<%= provide(:title, "Help") %>
<%= render 'layouts/frontpagebanner' %>
<div class="content">
	<div class="container">
		<h1>Help!</h1>
		<p>Find me in app/views/static_pages/help.html.erb</p>
	</div>
</div>
