<%= render 'layouts/banner' %>
<div class="content">
	<div class="container">
		<h2>You've just unlocked your first Achieve- ... wait what?!</h2>
		<p>Wondering what you've stumbled upon? This is Achievement: Unlocked. An app that helps you achieve goals in your life, and create memories.</p>
		<p>By finding the Achievements interface, you've unlocked a bunch of new achievements. So, what's the next step? How does this work? Well - take a tour!</p>			
	</div>
</div>



